# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# Database
db.sqlite3

# Static files (collected)
staticfiles/

# Environment variables
.env
